.bigcontain {
	display: flex;
	height: auto;
	width: 100%;

}

.leftcontain{
	background-color: #1f1f14;
	flex: 1;
	display: flex;
	flex-direction: column;
	min-width: 200px;
	color: white;
	text-align: center;
	align-items: center;
}

.midcontain {
	flex:4;
}

.rightcontain{
	background-color: #e6fffa;
	flex: 1;
	min-width: 200px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.leftnavbar{
	background-color: #ff4d4d;
	height: 80px;
	min-width: 200px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: row;

}


.topmidbar{
	height: 80px;
	background-color:#ffffe6;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.midelements{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.theactualmidelements {
	height: 200px;
	width: 130px;
	background-color: #4d4d00;
	margin: 20px;
}

.righttopbar{
	background-color: #66c2ff;
	height: 80px;
	display:flex;
	min-width: 200px;
	align-items: center;
	justify-content: center;

}

.rightbotbar{
	background-color: #5c8a8a;
	height: 40px;
	margin-top: auto;
}

.leftbaropt {
	height: 25px;
	width: 150px;
	background-color: purple;
	margin: 7px;
	padding: 7px;
	display: flex;
	justify-content: row;
	justify-content: space-around;
}

.rightbaropt {
	height: 25px;
	width: 150px;
	background-color: purple;
	margin: 7px;
	padding: 7px;
	display: flex;
	justify-content: row;
	justify-content: space-around;
}

.leftbarsymb {
	height: 25px;
	width: 25px;
	background-color: #007acc;
}

.rightbarsymb {
	height: 25px;
	width: 25px;
	background-color: #007acc;
}

.leftbarchoice {
	height: 25px;
	width: 100px;
	background-color: #d24dff;
	font-size: 16px;
	display: flex;
	align-items: center;
}

.rightbarchoice {
	height: 25px;
	width: 100px;
	background-color: #d24dff;
	font-size: 16px;
	display: flex;
	align-items: center;
}

.opttitle{
	height: 30px;
	font-size: 20px;
	padding: 4px;
	display:flex;
}











